/*Responsive CSS for Mobiles and Tablets*/

@media screen and (max-width: 800px) {
.nav > li > a{ padding-left: 4px!important; padding-right: 4px!important;}
.dropdown.profile .dropdown-menu { width: 100%; }
.navbar-inverse .navbar-nav > li.notification{ margin-right: 0;}
}
@media screen and (max-width: 767px) { 
.navbar-inverse .navbar-nav > li{ margin-left:0px;}
.navbar-inverse .navbar-nav > li.login > a{ border-radius:0px; margin-bottom:5px;}
.navbar-inverse .navbar-nav > li.register > a{ border-radius:0px;}

}

@media screen and (max-width: 640px) { 
	.search .search-form{ margin:28px 0;}
	.subscribe .search-form input[type="text"]{ width:80%;}
		.slide{ background-size:cover;}
                .left-part{ float: left; width: 100%;}
                .full-profile-info{ margin: 20px 0 0 0; clear: both; float: left;}
                .profile-wrap{ border-radius: 5px 5px 0 0;}
                .profile-info{ border-radius: 5px;}
                .profile-setting ul li:last-child a{ border-radius: 0 0 5px 5px;}
                .modal-dialog{ width: auto;}
}

@media screen and (max-width:480px) {
	.main-blocks .round-image{ width:300px; height:300px;}
	.slide .btn-actions a{ width:auto; font-size:16px; padding:14px 20px;}
	.slide h2{ font-size:24px; margin-top:15px;}
	.slide h5{ font-size:14px; margin-bottom:10px;}

}

@media screen and (max-width:360px) { 
    .forgot { color: #FDA64D; float: left; font-size: 14px; margin: 20px -1px;}
    .fb-btn,.fb-signup{ width: 100%; background-size: 100% 100%;}
    .popup-wrap .modal-header h4{ padding-left: 20px; text-align: left;}
	
}
